* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background:url(bg.jpg) #819FF7;
	background-size:cover;
	color:#819FF7;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 40%;
	margin: 2em;
	/*margin:32px; */
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:1.5em;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: #819FF7;
	padding: 20px;
	width: 200%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 200%;
	height: 80px;
	padding: 20px;
	font-size: 2em;
	text-align: center;
	background: #819FF7;
}

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 2rem;
	display: block;
}
